{% extends 'base.html' %}
{% block content %}
    <h1> ABOUT US </h1>
    <div class="about">
      <h2 class="display-5">LOCATION: </h2>
      <p class="lead">Located at Junction mall. Store D4</p><br>
        <p class="following">Open from: <br>MON-FRIDAY 9:00a.m - 7:00p.m <br>WEEKEND & HOLIDAYS 11:00a.m - 5:00p.m </p><br><br>

     <h2 class="display-5">REACH US: </h2>
     <p>EMAIL: daltonoyaro@gmail.com</p>
     <p>CALL: +254729757937</p>
     <p>IG: @flykicks</p>
     <p>FB: @flykicks</p>
     <p>TWITTER: @flykicks</p>
    </div>
{% endblock %}