
<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
    </a>
      {% url 'home' as home %}
      {% url 'about' as about %}
      {% url 'contact' as contact %}
      {% url 'cart' as cart %}
      <li {% if request.path == home %} class="active" {% endif %} ><a class="py-2 d-none d-md-inline-block" href="{% url 'home' %}">Home</a></li>
      <li {% if request.path == product %} class="active" {% endif %} ><a class="py-2 d-none d-md-inline-block" href="{% url 'product_list' %}">Product</a></li>
      <li {% if request.path == about %} class="active" {% endif %}><a class="py-2 d-none d-md-inline-block" href="{% url 'about' %}">About</a></li>
      <li {% if request.path == contact %} class="active" {% endif %} ><a class="py-2 d-none d-md-inline-block" href="{% url 'contact' %}">Contact</a></li>
        <li>
        <div id="dropdown-menu" class="py-2 d-none d-md-inline-block" aria-labelledby="Account">

            {% if not request.user.is_authenticated %}
          <a class="dropdown-item" href="{% url 'account_login' %}">login</a>
            <a class="dropdown-item" href="{% url 'account_signup' %}">signup</a>
            {% else %}
          <a class="dropdown-item" href="{% url 'account_logout' %}">logout</a>

           <li {% if request.path == contact %} class="active" {% endif %} ><a class="py-2 d-none d-md-inline-block" href="{% url 'cart_detail' %}">Cart</a></li>
            {% endif %}
        </div>
        </li>
  </div>
</nav>